version: '3'
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  app:
    # image: 601010281808.dkr.ecr.us-east-1.amazonaws.com/ror-ecs-app
    build:
      # 2.1.Specify the root path
      context: .
      # 2.2.From the root path defined in context, here we define where the Dockerfile resides
      dockerfile: ./docker/app/Dockerfile
    links:
      - db
    depends_on:
      - db
    volumes:
      - .:/var/www/ror-ecs
  web:
    # image: 601010281808.dkr.ecr.us-east-1.amazonaws.com/ror-ecs-web
    build:
      context: .
      dockerfile: ./docker/web/DockerFile
    links:
      - 'app'
    ports:
      - '80:80'
