default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password:
  pool: 5

development:
  <<: *default
  database: ror_ecs_development


test:
  <<: *default
  database: ror_ecs_development_test

# production:
#   host: i-rock.cfvddfzqtglp.us-east-1.rds.amazonaws.com
#   database: i_rock_production
#   username: postgres
#   password: irock1234
#   adapter: postgresql
#   encoding: UTF8
